body{
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
  background:#111;
  font-family:Arial;
}

.input-group{
  position:relative;
  width:250px;
}

.input-group input{
  width:100%;
  padding:10px;
  border:none;
  border-bottom:2px solid white;
  background:transparent;
  color:white;
  outline:none;
  font-size:16px;
}

.input-group label{
  position:absolute;
  left:0;
  top:10px;
  color:#aaa;
  transition:0.3s ease;
  pointer-events:none;
}

.input-group input:focus + label{
  top:-15px;
  font-size:12px;
  color:#00ffcc;
}