body {
  background: #111;
  font-family: sans-serif;
}

nav {
  display: flex;
  gap: 30px;
  padding: 20px;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  position: relative;
}

nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 3px;
  background: cyan;
  transform: scaleX(0);
  transform-origin: left ;
  transition: transform 0.4s ease;
}

nav a:hover::after {
  transform: scaleX(1);
}
