html,body {
  margin: 0;
  padding: 0;
  font-family: Arial;
  height: 100%;
  transition: all .5s , color .5s;
}

.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

button {
  padding: 10px 70px;
  font-size: 30px;
  border-radius: 10px;
  background-color: rgb(24, 171, 220);
  border: none;
}

button:active {
  transition: all .3s ease;
  scale: .85;
}

body {
  background-color: white;
  color: black;
}
body.dark {
  background-color: black;
  color: white;
}